In [14]:
#String
a='hashim'
#a is a string variable that holds the value of 'hashim'
type(a)

str

In [15]:
#List
l=[1,2,3,4,5,6]
#l is a list variable that contains integers from 1 to 6
type(l)

list

In [16]:
#Float
b=2.5
#b is a float variable that stores the value 2.5
type(b)

float

In [18]:
#Tuple
c=(5,10,15,20,25)
#c is a tuple variable that contains integers from 5 to 25 in increments of 5
type(c)

tuple

In [5]:
#Variable containing data
v1=''
#v1 is a string variable. It contain a single space character, so its data type is str
type(v1)

str

In [7]:
v2='[DS,ML,Python]'
'''v2 is a string variable. It contain a string representation of a list,including square brackets 
and comma separated elements. Therefore, its data type is str'''
type(v2)

str

In [9]:
v3=['DS','ML','Python']
#v3 is a list variable. It contains three strings:'DS','ML','Python'. hence, its data type is list
type(v3)

list

In [11]:
v4=1.
'''v4 is a float variable. It holds the value 1.0, which has a decimal point,indicating it is a 
floating point number. Thus, its data type is float'''
type(v4)

float

In [19]:
'''The '/' operator is the division operator in python. It is used to perform division between two numbers,
and it returns the quotient. Here's an example'''
a=10
b=4
c=a/b
print(c)

2.5

In [24]:
'''The '%' operator is the modulus operator in python. It is used to find the remainder of the division
between two numbers. Here's an example'''
a=10
b=4
c=10%4
print(c)

2

In [25]:
a=10
b=4
c=a//b
print(c)

2

In [26]:
'''The '//' operator is the floor division operator in python. It performs division between two numbers 
and returns the quotient as an integer, discarding any decimal places. Here's an example'''
a=10
b=4
c=10//4
print(c)

2

In [27]:
'''The '**' operator is the exponentiation opeartor in python. It is used to raise a number to a 
certain power. Here's an example'''
a=5
b=3
c=a**b
print(c)

125

In [35]:
'''Here's an example of creating a list of length 10 with various types of data and then using a
for loop to print each element along with its data type'''

l=[5,'hashim',2.5,True,5+8j,False,'khan',(1,2,3),7,12]
for a in l:
    print(type(a))
    print(a)
'''In the above code, I have created a list 'l' with 10 elements of different types such as integers, 
Strings, floats,booleans, complex, tuple.

<class 'int'>
5
<class 'str'>
hashim
<class 'float'>
2.5
<class 'bool'>
True
<class 'complex'>
(5+8j)
<class 'bool'>
False
<class 'str'>
khan
<class 'tuple'>
(1, 2, 3)
<class 'int'>
7
<class 'int'>
12

In [7]:
'''Here is an example of using while loop to verify if a number A is purly divisible by number B
and calculating how many times it can be devided'''
A=200
B=5
count=0
while A%B==0:
    A=A//B
    count+=1
    print(f'the number A can be divided by B {count} times')

#The number A can be divided by B 2 times
'''In the above code, we have number A=100 and number B=5. The variable 'count' is used to keep the 
track of how many times A can be divided by B.
The while loop condition 'A%B==0' checks if A is purely divisible by B. If the condition is true, 
it means A can be divided by B without leaving a remainder. Inside the loop, we perform integer division
'A//B' to divide A by B and update the value of A accordingly. We also increment the count by 1.
The loop continues as long as A is divisible by B. Once A is not divided by B anymore, the loop terminates,
and we print the final count of how many times A could be divided by B.'''

the number A can be divided by B 1 times
the number A can be divided by B 2 times

"In the above code, we have number A=100 and number B=5. The variable 'count' is used to keep the \ntrack of how many times A can be divided by B.\nThe while loop condition 'A%B==0' checks if A is purely divisible by B. If the condition is true, \nit means A can be divided by B without leaving a remainder. Inside the loop, we perform integer division\n'A//B' to divide A by B and update the value of A accordingly. We also increment the count by 1.\nThe loop continues as long as A is divisible by B. Once A is not divided by B anymore, the loop terminates,\nand we print the final count of how many times A could be divided by B."

In [9]:
'''Here is an example of creating a list containing 25 integer data and using a for loop with an if-else 
condition to print whether each element is divisible by 3 or not'''

l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} is not divisible by 3')
'''In the above code, I have created a list 'l' containing 25 integer elements. The for loop iterates over 
each element in the list. The if-else condition checks if the element is divisible by 3 by checking if the 
remainder of the division 'i%3' is 0. If it is 0, the element is divisible by 3 and the corresponding message
is printed. Otherwise, if the remainder is non zero, the element is not devided by 3, and the respective 
message is printed.'''

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

"In the above code, I have created a list 'l' containing 25 integer elements. The for loop iterates over \neach element in the list. The if-else condition checks if the element is divisible by 3 by checking if the \nremainder of the division 'i%3' is 0. If it is 0, the element is divisible by 3 and the corresponding message\nis printed. Otherwise, if the remainder is non zero, the element is not devided by 3, and the respective \nmessage is printed."

In [ ]:
#Mutable and Immutable data type:
'''In python, data type can be classified as either mutable or immutable based on whether their values can
be changed after they are created.'''
#Mutable
'''Mutable data types are those whose values can be modified after they are created. Lets take an example to 
demonstarte the mutability of a list'''

n=[1,2,3,4,5,6]
n[3]=9
print(n)
'''In the above code, we have a list variable 'n' containing integers from 1to 6. We modifty the third 
element of the by assigning a new value of 9 to 'n[3]'. The list is mutable, so the modification is 
allowed, and the value of 'n' is updated accordingly'''

[1, 2, 3, 9, 5, 6]

"In the above code, we have a list variable 'n' containing integers from 1to 6. We modifty the third \nelement of the by assigning a new value of 9 to 'n[3]'. The list is mutable, so the modification is \nallowed, and the value of 'n' is updated accordingly"

In [17]:
#Immutable 
'''Immutable data types are those whose values cannot be modified once they are assigned. Any attempt to modify
an immutable object will result in the creation of new object with the update value. Example of immutable data 
types in python include strings etc. 
Here is an example to demonstrate the immutability of string:'''

n='hashim'
n1=n.upper()
print(n)
print(n1)
'''In the above code, we have a string variable 'n' assigned the value 'hashim'. When we call the 'upper()'
methode on 'n', it returns a new string with all characters in uppercase and assigns it to 'n1'. However, 
the original string 'n' remains unchanged. This behaviour illustrates the immutability of string'''

hashim
HASHIM

"In the above code, we have a string variable 'n' assigned the value 'hashim'. When we call the 'upper()'\nmethode on 'n', it returns a new string with all characters in uppercase and assigns it to 'n1'. However, \nthe original string 'n' remains unchanged. This behaviour illustrates the immutability of string"

In [18]:
n='hashim'
print(n)

hashim

In [16]:
n1=n.upper()
print(n1)

HASHIM